:root
{
  font-size: 16px;
}
*
{
  padding: 0;
  margin:0;
}
header
{
  background: url(img/marmol.jpg);
  display: block;
  position: relative;
  height: 250px;
  vertical-align: center;
  overflow: hidden;
  border-bottom: 2px solid #333;
}
header>#pantalla
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #AEDBD1;
  opacity: .6;
}
.logoNombre
{
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  top: 50%;
  margin-top: -50px;
  z-index:2;
}
.logoNombre>h1
{
  font-size: 3rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 400;
}
.slogan1, .slogan2, .slogan3, .slogan4
{
  position: absolute;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 1.3rem;
  padding: 5px 10px;
}
.slogan1
{
  top: 60%;
  left: 20%;
}
.slogan2
{
  bottom: 20%;
  right: 25%;
}
.slogan3
{
  top: 15%;
  left: 30%;
}
.slogan4
{
  top: 10%;
  right: 33%;
}
main
{
  position: relative;
}
main #FotoPerfil
{
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url(img/Perfil2.jpg);
  background-size: 150px;
  overflow: hidden;
  border-radius: 75px;
  top: -130px;
  right: 30%;
  box-shadow: 0 0 15px #333, 0 0 2px #333;
  border: 2px solid #333;
}
.container
{
  position: relative;
  width: 40%;
  left: 20%;
  font-family: sans-serif;
  color: #333;
  margin-top: 80px
}
.container>.titulo
{
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 2;
  padding-left: 50px;
}
.container .fecha
{
  font-style: italic;
  color: #5a5a5a;
}
#aboutMe>h3
{
  transform: translate(-100px,0px);
  opacity: 0;
  transition:all .5s ease-in-out;
}
#aboutMe>p
{
  font-size: .9rem;
  text-align: justify;
  transform: translate(100px,0px);
  opacity: 0;
  transition:all .5s ease-in-out;
  text-indent: 10px;
  padding: 10px 0;
}
#Estudios>.titulo
{
  position: relative;
  display: table;
  width: 50%;
  left: 20%;
  line-height: 3;
  transform: translate(100px, 0);
  opacity: 0;
  transition: all .5s ease-in-out;
}
#Estudios>.estudios
{
  width: 40%;
  display: table;
  margin: 20px auto 100px auto;
  text-align: center;
  margin-bottom: 60px;
  transform: translate(0px, -50px);
  opacity: 0;
  transition: all .5s ease-in-out;
}
#Estudios>.estudios>div
{
  margin-bottom: 20px;
}
#Estudios>.estudios>div>h3
{
  font-weight: 100;
  font-size: 2rem;
  line-height: .7;
  color: #00ace6;
}
#Estudios>.estudios>div>h4
{
  display: table;
  font-weight: 100;
  transform: translate(200px, 0);
  font-style: italic;
  font-size: .8rem;
  color: #5f5f5f;
  
}
#Estudios>.estudios>p
{
  text-align: justify;
  font-size: .9rem;
  text-indent: 10px;
}
#Estudios
{
  width: 100%;
  left: 0;
  text-align: right;
}
#Estudios>#pantalla
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #AEDBD1;
  height: 750px;
  z-index: -2;
  opacity: .6;
}